    <!-- Dashboard styles -->
    <link rel="stylesheet" href="css/dashboard.css">
</head>

<body class="bg-faded">

<!--======== MODALS ========= -->
<div id="galleryModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-xs-center">
                <img src="//placehold.it/1200x700/222?text=..." id="galleryImage" class="center-block img-fluid">
                <p>
                    <br>
                    <button class="btn btn-primary btn-lg" data-dismiss="modal" aria-hidden="true">Close <i
                                class="ion-android-close"></i></button>
                </p>
            </div>
        </div>
    </div>
</div>


<!--======== SETTINGS MODALS ========= -->
<div id="settingsModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-xs-center">
                <h2 class="text-xs-center">Settings</h2>

                <ul class="list-group">
                    <li class="list-group-item"><a href="#addGnomeModal" data-toggle="modal">Add Gnome</a></li>
                    <li class="list-group-item">Edit Gnome</li>
                    <li class="list-group-item">Logout</li>
                </ul>

                <br>
                <button class="btn btn-primary btn-lg" data-dismiss="modal" aria-hidden="true"> OK</button>
            </div>
        </div>
    </div>
</div>

<!-- ==== ADD GNOME Modal ====== -->
<div id="addGnomeModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-xs-center">
                <h2 class="text-xs-center">Add Your Gnome</h2></br>
                <form action="/Dashboard" method="POST">
                    <div class="form-group row">
                        <label for="Gnome Nickname" class="col-xs-4 col-form-label">Gnome Nickname:</label>
                        <div class="col-xs-8">
                            <input class="form-control" type="text" name="nickname" value="" id="Gnome Nickname">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Serial Number" class="col-xs-4 col-form-label">Serial #:</label>
                        <div class="col-xs-8">
                            <input type="hidden" name="status" value="false">
                            <input class="form-control" type="text" name="serial" value="" id="Serial Number">
                        </div>
                    </div>
                    <!-- <div class="form-group row">
                        <label for="User ID" class="col-xs-4 col-form-label">User ID:</label>
                        <div class="col-xs-8">
                            <input class="form-control" type="text" name="userID" value="" id="User ID">
                        </div>
                    </div> -->
                     <input type="hidden" name="userid" value="<%= gnomes[0].id %>">

                    <!--Serial #: <input type="text" name="serial" value=""><br>-->
                    <!--UserID: <input type="text" name="userID" value=""><br>-->
                    <!--Gnome Nickname: <input type="text" name="nickName" value="" data-dismiss="modal"><br>-->
                    <div class="form-group row">
                        <div class="col-xs-8">
                            <input type="submit" value="ADD!" class="btn btn-primary btn-lg pull-right"
                                aria-hidden="true"></input>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>



<div id="ResultGnomeModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-xs-center">
                <h2 class="text-xs-center" id="addMessage"><%= message %></h2>

                <br>
                <button class="btn btn-primary btn-lg" data-dismiss="modal" aria-hidden="true"> OK</button>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid">
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">

        <button class="navbar-toggler hidden-md-up float-right" type="button" data-toggle="collapse"
                data-target="#collapsingNavbar">
            ☰
        </button>
        <a class="navbar-brand page-scroll" href="#first"><img src="/images/MiLeKbMia.png" height="40" width="auto">
            Gnome @ Home</a>
        <div class="collapse navbar-toggleable-sm" id="collapsingNavbar">
            <ul class="nav navbar-nav float-xs-right">
                <li class="nav-item">
                    <a class="nav-link page-scroll" data-toggle="modal" title="A free Bootstrap theme"
                       href="#aboutModal">Hi, <%= gnomes[0].firstname %></a>
                </li>
                <li class="nav-item">
                    <!--Gear ICON Collabsible nav bar-->
                    <a class="nav-link page-scroll" id="trigger" title="Edit Settings"
                       href="#settingsModal"><i class="fa fa-cog fa-lg fa-spin fa-fw" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<header id="first">
    <div id="slider">
        <h3> Gnome @ Home </h3>
        <a href="#"> Account </a>
        <a href="#"> Profile </a>
        <a href="/logoutUser"> Logout </a>
    </div>


    <div class="header-content" id="">
        <div class="inner">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <h2> Dashboard </h2>
                    <hr class="primary">
                </div>
            </div>
            <div class="card-deck-wrapper">
                <div class="card-deck">
                    <div class="row">
                        <% for(var i = 0; i < gnomes[0].gnomes.length; i++) { %>

                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="card">
                                <h4 class="card-title "><%= gnomes[0].gnomes[i].nickname %></h4>
                                <img class="card-img-top image-wrapper" src="../../images/gnome_hipster.png"
                                     alt="Card image cap">
                                <div class="card-block">
                                    <p><em>I love lamp.</em></p>
                                    <p>Serial # - <%= gnomes[0].gnomes[i].serial%></p>
                                    <!--on/off switch html-->
                                    <div class="text-center btn">
                                        <div class="onoffswitch">
                                            <input type="checkbox" name="<%= gnomes[0].gnomes[i].serial %>" class="onoffswitch-checkbox"
                                                   id="<%= gnomes[0].gnomes[i].serial %>" data-status="<%= gnomes[0].gnomes[i].status %>">

                                            <label class="onoffswitch-label" for="<%= gnomes[0].gnomes[i].serial %>">
                                                <span class="onoffswitch-inner" id="<%= gnomes[0].gnomes[i].serial%>Click"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-lg disabled statusButton" role="button" aria-disabled="true" id="<%= gnomes[0].gnomes[i].serial%>Status"
                                    data-time="<%= gnomes[0].gnomes[i].updatedAt %>"></a>
                                </div>
                            </div>
                        </div>

                        <% } %>

                        <!--card 3-->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="card">
                                <h4 class="card-title "></h4>
                                <div class="card-block">
                                    <!--TODO: CARDS AUTO RESIZE AND WE NEED TO FIX THIS-->
                                    <p ><a class="nav-link page-scroll" data-toggle="modal"
                                                            title="Add Gnome" href="#addGnomeModal"><i
                                                    class="fa fa-plus fa-5x" aria-hidden="true"></i></a></p>
                                    <p ><em><a class="nav-link page-scroll" data-toggle="modal"
                                                                title="Add Gnome" href="#addGnomeModal">Add Gnome</a></em></p>
                                    <!--on/off switch html-->
                                    <div class="text-center btn">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>